apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: portainer

resources:
  - resources/ns.yml
  - resources/ingress.yml

helmCharts:
  - name: portainer
    repo: https://portainer.github.io/k8s/
    version: 2.33.6
    releaseName: "portainer"
    namespace: portainer
    includeCRDs: true
    valuesFile: values.yml
